body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url("https://images.unsplash.com/photo-1561501900-3701fa6a0864?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80 height=100% width=100%");

  background-size: cover;
  object-fit: contain;
}
#container {
  height: 500px;
  width: 400px;
  margin-left: 40px;
  margin-top: 50px;
  background: #c57373;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
h1 {
  color: #3b2424;
  margin: 0;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
p {
  margin-left: 30px;
  font-weight: bold;
}
/* form input[type="text"] {
  width: 90px;
} */
input {
  padding-left: 20px;
}
#billAmt {
  font-size: 14px;
  color: rgb(29, 26, 26);
  background-color: #f7f7f7;
  width: 60%;
  padding: 5px 5px 8px 8px;
}
#billAmt:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}
#peopleAmt {
  width: 60%px;
  padding: 5px 5px 8px 8px;
  margin-left: 20px;
  color: rgb(14, 13, 13);
  background-color: #f7f7f7;
  font-size: 14px;
}

#serviceQual {
  padding: 13px 13px 20px 20px;
  margin-left: 20px;
  font-size: 20px;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: #ad133a;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  color: white;
}
button:hover {
  background: #4c2827;
  border-bottom-color: #111;
}
button:active {
  position: relative;
  top: 1px;
}

#totalTip {
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
}

#totalTip:before {
  content: "Tip amount";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}
#totalTip sup {
  font-size: 20px;
  top: -18px;
}
#totalTip small {
  font-size: 20px;
  font-weight: bold;
  display: block;
}
